{% set collection = page.collection %}

{% embed 'partials/base.html.twig' %}

    {% block content %}

    <div class="large-6 columns">
      {% for module in page.collection({'items':{'@taxonomy.category': 'left'},'order': {'by': 'date', 'dir': 'desc'}}) %}
        {% if module.template %}
          {% include 'layouts/' ~ module.template ~ '.html.twig' %}
        {% endif %}
      {% endfor %}
    </div> 

    <div class="large-6 columns">
      {% for module in page.collection({'items':{'@taxonomy.category': 'right'},'order': {'by': 'date', 'dir': 'desc'}}) %}
        {% if module.template %}
          {% include 'layouts/' ~ module.template ~ '.html.twig' %}
        {% endif %}
      {% endfor %}
     </div>
  {% endblock %}

{% endembed %}


